@import url("https://fonts.googleapis.com/css?family=Dosis");

* {
  margin: 0;
  padding: 0;
  font-family: "Dosis";
}

/* siteBody in app.jsx */
.siteBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  position: absolute;
}

/* navbar  start*/
.navBar {
  display: flex;
  width: 100%;
  min-width: 280px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: fixed;

  z-index: 2;
}

/* nave option buttons css property */
.fabButtons {
  width: 150px;
  font-family: Dosis;
  font-size: 15px;
  background-color: rgb(3, 117, 246);
  color: aliceblue;
}

/* Site Logo */
.siteLogo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  color: aliceblue;
}

/* Nav options */
.navOptions {
  padding: 0 15px 0 0;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

/* Service Menu */
.serviceMenu {
  /* border: 2px solid green; */
  position: absolute;
  width: 150px;
  height: fit-content;
  margin: 375px 0px 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Automation menu */
.automationMenu {
  position: absolute;
  width: 150px;
  height: fit-content;
  margin: 170px 0px 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* mobile menu box */
.mobileMenuBox {
  margin: 0 10px 0 0;
  width: 300px;
  height: fit-content;
  display: flex;
  justify-content: end;
}

/* Mobile view main menu */
.mobileViewMenu {
  position: absolute;
  width: 300px;
  height: fit-content;
  margin: 80px 0px 0 0;
  display: flex;
  flex-direction: row-reverse;
}

/* Main Menu */
.mainMenu {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Sub-menu */
.subMenu {
  /* border: 2px solid green; */
  width: 150px;
  height: fit-content;
}

/* Service Sub Menu */
.serviceSubMenu {
  margin: 45px 0 0 0;
  position: absolute;
  width: 160px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Automation Sub Menu */
.automationSubMenu {
  margin: 90px 0 0 0;
  position: absolute;
  width: 160px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Homepage */
.homePage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  z-index: 1;
}

/* homepage Carousel */
.carousel {
  height: 109vh;
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
}

/* images for carousel */
.carouselImage {
  height: 109vh;
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
}

/* text in carousel */
/* .carouselCaption {
  margin: 0 0 450px 0;
} */

/* home page client carousel */
.clientCarousel {
  width: 100%;
  min-width: 280px;
  height: 300px;
  min-width: 280px;
  margin: 100px 0 0 0;
  overflow: hidden;
}

/* inside client carousel */
.innerCarousel {
  width: 100%;
  min-width: 280px;
  height: 100%;
  display: flex;
  gap: 2rem;
}

.item {
  width: 300px;
  height: 300px;
  cursor: grab;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  align-items: center;
}

.item img {
  min-width: 280px;
  padding: 10px;
  pointer-events: none;
}

/* About-us & vission and mission section  */
.aboutUs {
  margin: 40px 0 0 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* about us para div */
.aboutUsPara {
  width: 80%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* vision and misson div */
.vissionMissonSection {
  width: 80%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

/* vision mission media query */
.vissionMissonMobile {
  width: 80%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* vision section (cards)*/
.vision,
.mission {
  max-width: 45%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* vision mission content */
.missionContent,
.visionContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* our services cards in home page */
.ourServices {
  width: 100%;
  min-width: 280px;
  height: fit-content;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* our services title section in above component */
.titleDiv {
  width: 100%;
  min-width: 280px;
  height: 20%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleDiv h2 {
  text-decoration: underline;
}

/* cards display section below title div */
.servicesCardSection {
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
/* mediaquery properties for above section */
.servicesCardSectionMobile {
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* card with image and title inside services card section */
.imageCardAndTitle {
  width: 300px;
  min-width: 280px;
  height: fit-content;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  gap: 1rem;
}

/* Paper div inside the image and title section */
.imageCard {
  width: 100%;
  height: 100%;
  display: flex;
}

.imageCard img {
  width: 300px;
  min-width: 280px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
}

/* empty div for color change on Hover */
.hoverEffectDiv {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  transition: 1s;
}
/* above property hover effect */
.hoverEffectDiv:hover {
  background-color: rgba(1, 114, 249, 0.4);
}

/* Our services pages */
/* Industrial services page */
.industrialServicesPage {
  width: 100%;
  min-width: 280px;
  height: fit-content;
}

/* top image has the same css property of contact us top image (same className) */
/* inline properties for top image => style={{
            width: "100%",
            minWidth: "280px",
            height: "600px",
            objectFit: "cover",
          }} */
/* sub divisions in industrial services */
.subDivisions {
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

/* carde inside subDivision section */
.imageAndTitle {
  margin: 20px;
  width: 20%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* image inside above div */
.media {
  width: 100%;
  min-width: 280px;
  height: 300px;
}

/* css property for img inside media section */
.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

/* industrial services mainpage "Enclosures" */
.enclosuresPage{
  border: 2px solid green;
  width: 100%;
  min-width: 280px;
  height: fit-content;
}

/* sub division in enclosure */
.aboutEnclosures{
  border: 2px solid green;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}
.summaryPaper{
  width: 60%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
 
}

.aboutEnclosures :nth-child(1){
  font-size: 30px;
}

/* the enclosure products dispaly section */
.displayWorks{
  border: 2px solid green;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* dispaly enclosures images over cards */
.enclosuresImageCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Gallery Section */
.gallery {
  height: fit-content;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* View Images */
.viewImages {
  position: fixed;
  width: 100%;
  min-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  gap: 5rem;
  z-index: 1;
}
/* contact us page */
.contactUsPage {
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

/* top image in contact page */
.topImage {
  width: 100%;
  position: fixed;
  object-fit: fill;
  z-index: -1;
}

/* box for view the image */
.imageBox {
  width: 100%;
  min-width: 280px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.imageBox Link {
  text-decoration: none;
}
/*inline css property for Sub divisions under industrialsections page   */

/* automationsection page */
.automationServicesPage {
  width: 100%;
  min-width: 280px;
  height: fit-content;
}

/* other css properties are common for both industrial services section and automation services section */

/* contact page content below the image */
.contactSection {
  display: flex;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  background-color: aliceblue;
}

/* contactSection mediaquery */
.contactSectionMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 280px;
  height: fit-content;
  background-color: aliceblue;
  gap: 5rem;
}

/* contact details section */
.contactPageContent {
  display: flex;
  width: 50%;
  min-width: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communicationContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* purpose className starts */
/* client purpose content */
.purpose {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.purpose span:nth-child(1) {
  font-size: 40px;
}
.purpose span:nth-child(2) {
  font-size: 30px;
}

/* media query for purpose section */
.purposeMobile {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.purposeMobile span:nth-child(1) {
  font-size: 30px;
}
.purposeMobile span:nth-child(2) {
  font-size: 20px;
}
/* purpose className ends */

/* phone number and mail css starts */
/* phone number and mail id section */
.phoneAndMail {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.phoneAndMail span:nth-child(n) {
  font-size: 30px;
}

/* phone and mail mediaquery */
.phoneAndMailMobile {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.phoneAndMailMobile span:nth-child(n) {
  font-size: 20px;
}
/* phone number and mail css ends */

/* address and location icon section in contact page */
.addressAndIcon {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

/* css for address text area starts */

/* inside address and icon section following address section */
.addressSection {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.addressSection span:nth-child(n) {
  font-size: 30px;
}

/* address text section media query */
.addressSectionMobile {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.addressSectionMobile span:nth-child(n) {
  font-size: 20px;
}

/* css for address text area ends */

/* quotation section */
.quotationSection {
  width: 60%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

/* css for text  */
.textArea {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.textArea span:nth-child(1) {
  font-size: 40px;
}
.textArea span:nth-child(2) {
  font-size: 30px;
}
.textArea span:nth-child(3) {
  font-size: 25px;
}
.textArea span:nth-child(4) {
  font-size: 25px;
}

/* quoation form text area responsive properties*/
.textAreaMobile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textAreaMobile span:nth-child(1) {
  font-size: 40px;
}
.textAreaMobile span:nth-child(2) {
  font-size: 30px;
}
.textAreaMobile span:nth-child(3) {
  font-size: 25px;
}
.textAreaMobile span:nth-child(4) {
  font-size: 25px;
}

/* entire form section */
.formSection {
  /* border: 5px solid rgb(85, 0, 255); */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* css property that wraps the right and left form section */
.wrapperDiv {
  /* border: 2px solid rgb(255, 187, 0); */
  width: 100%;
  display: flex;
}
/* css for media query for wrapperdiv */
.wrapperDivMobile {
  /* border: 2px solid rgb(255, 187, 0); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/* end css property that wraps the right and left form section */
.messageFileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  min-width: 280px;
  gap: 2rem;
}
/*css for left part of form  */
.formLeftPart {
  /* border: 2px solid rgb(85, 0, 255); */
  width: 30%;
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*css for right part of form  */
.formRightPart {
  /* border: 2px solid rgb(85, 0, 255); */
  width: 50%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* Check box section */
.checkBoxPaper {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

/* mail sent confirmation message box */
.emailStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* footer section */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  /* margin: 100px 0 0 0; */
  width: 100%;
  height: fit-content;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(252, 252, 252);
}
/* css property for footer mobile view */
.footerMobile {
  background-color: rgba(0, 0, 0, 0.8);
  /* margin: 100px 0 0 0; */
  width: 100%;
  height: fit-content;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(252, 252, 252);
}

.footerMinWidth {
  background-color: rgba(0, 0, 0, 0.8);
  /* margin: 100px 0 0 0; */
  width: 100%;
  height: fit-content;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  color: rgb(252, 252, 252);
}

/* footer address section */
.contactDetails {
  width: 40%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 50px 0 0 0;
}

/* media query properties for contact details div */
.contactDetailsMobile {
  width: 80%;
  min-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 50px 0 0 0;
}

/* under conact details div */
.locationDiv {
  display: flex;
  flex-wrap: wrap;
}

.ourServicesDiv {
  width: 50%;
  min-width: 280px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* sub div of ourservices */
.buttonDiv {
  width: 100%;
  height: fit-content;
  min-width: 280px;
  display: flex;
  margin: 50px 0 0 0;
  flex-wrap: wrap;
}

/* css property for buttons div on mobile view (MUI media query) */
.buttonDivMobile {
  width: 100%;
  height: fit-content;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  flex-wrap: wrap;
}

/* sib div 1 of buttonDiv */
.servicesDiv {
  width: 50%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.servicesDiv :nth-child(n) {
  text-decoration: none;
  color: aliceblue;
}
/* sib div 2 of buttonDiv */
.AutomationDiv {
  width: 50%;
  min-width: 280px;
}
